.row{
  margin-top: 50px;
}

.a{
  border: 5px solid red;
}

.b{
  border: 5px solid black;
  
}

.c{
  border: 5px solid yellow;
}

.heading{

  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}